@import url(./variable.css);

body {
  background-color: var(--main-bg-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.search {
  background-color: var(--second-bg-color);
}
