@import url(./variable.css);

body {
  padding: 1.5rem;
  background-color: var(--main-bg-color);
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 50px;
}
